#table{
    max-width:500px;
}
/* h3{
    margin-left:50px;
} */
#leaderBoard{
    display: flex;
    flex-direction: row;
    margin-left:50px;
}
/* #authorMenuImg{
    width:3px;
    min-height: 200px;
    max-height: 300px;
} */

#authorMenu{
display: flex;
flex-direction: column;
height:570px;
overflow: scroll;
overflow-x: hidden;
}

#authorMenu::-webkit-scrollbar {
    width: 0.7em;
    background: transcript;
  }
#authorMenu::-webkit-scrollbar-thumb {
    background: "#9E4244";
    height:3px;
}
  
#authorMenu::-webkit-scrollbar-track-piece
{
     display:none;
}

.fullpage2 {
    display: block;
    height: 600px;
    width: 100%;
    max-width: 1300px;
    margin-left: 0;
    margin-right: 0;
  } 

.button-container{
    display:table;
    height: 600px;
    width: 100%;
    max-width: 1300px;
    position:relative; 
    /* left: 50%;
    transform: translateX(-50%); */
    margin-left: auto;
    margin-right: auto;
    padding-top:0px;
    padding-bottom: 0px;
    background-clip:border-box;
}

.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
    margin-top: 0 !important;
    margin-top: 0 !important;
  }